#column {
	width: 100%;
	min-width: 1263px;
	height: 300px;
	background:linear-gradient(to right bottom, rgba(0,0,0,0.7),rgba(0,0,0,0.0)), url(../img/headline.jpg) no-repeat center;
}
#column .center {
	width: 1263px;
	height: 300px;
	margin: 0 auto;
}
#column hgroup {
	padding: 100px 0 0 50px;
}
#column h2 {
	color: #EEEEEE;
	font-size: 36px;
	letter-spacing: 1px;
}
#column h3 {
	color: #EEEEEE;
	font-size: 20px;
	letter-spacing: 1px;
}
#container {
	width: 1263px;
	margin: 30px auto;
}
#container .sidebar {
	width: 340px;
	float: right;
}

#container .sidebox {
	border: 1px solid #eee;
	margin: 0 0 10px 0;
	text-align: center;
}
#container 	.sidebar h2 {
	font-size: 20px;
	font-weight: normal;
	color: #666;
	background-color:#fafafa ;
	text-indent: 10px;
	text-align: left;
	height: 40px;
	line-height: 40px;
	letter-spacing: 1px;
}
#container .tag {
	padding: 10px 0;
}
#container .tag li {
	background-color: #eee;
	display: inline-block;
	width: 100px;
	height: 35px;
	line-height: 35px;
	margin: 2px 0;
	text-indent: 8px;
	text-align: left;
}
#container .tag a {
	display: block;
	color: #999;
}
#container .tag a:hover {
	background-color: #458b00;
	color: #fff;
}
#container .figure {
	padding: 10px 0;
}
#container .hot figure{
	color: #666;
	display: inline-block;
	padding: 4px;
}
#container .box {
	padding: 10px 0;
}
#container .box a {
	background-color: #eee;
	display: inline-block;
	width: 150px;
	height: 40px;
	line-height: 40px;
	color: #999;
	margin: 2px 0;
	text-indent: 35px;
	text-align: left;
}
#container .trea1 {
	background: url(../img/trea1.png) no-repeat 10px center;
}
#container .trea2 {
	background: url(../img/trea2.png) no-repeat 10px center;
}
#container .trea3 {
	background: url(../img/trea3.png) no-repeat 10px center;
}
#container .trea4 {
	background: url(../img/trea4.png) no-repeat 10px center;
}
#container .scenery {
	width: 910px;
	float: left;
	color: #666;

}
#container .scenery h2 {
	font-size: 30px;
	font-weight: normal;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px dashed #999;
	padding: 0 0 15px 0;
}
#container .scenery figure {
	border: 1px solid #ddd;
	padding: 4px;
	margin: 15px 5px 15px 0;
	border-radius: 4px;
	width: 435px;
	display: inline-block;
}
#container .scenery figcaption {
	text-align: center;
	padding: 4px 0;
	color: #666;
	font-size: 20px;
}
#container .scenery .more {
	color: #666;
	display: block;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
	margin: 0 auto;
	height: 50px;
	width: 20%;
	line-height: 50px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: #eee;
}
